<div style="margin:auto;margin-top:200px">
	<div id='notice' style="width: 80%; margin:auto;margin-top:50px">
		<span style="color:white"><%=h @msg%></span><br/><br/>
	<div><a href="<%=h @where_you_go%>"><%=h @url_text%></a></div></div>
</div>